.edit {background-color: #f6b92b;
    border-radius: 8px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 2px 1px;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    
} /* Green */
.details {background-color: #ec9b35;
    border-radius: 8px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 2px 1px;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    

} /* Blue */
.delete {background-color: #f44336;
    border-radius: 8px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 2px 1px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    
} /* Red */